DATABASE_URL= YOUR-POSTGRES-DB-URL
CLIENT = "http://localhost:3000"
NODE_ENV = development
NAME = "Guidance Portal"
PORT = 5000

SECRET = YOUR-SUPER-SECRET-CODE

NODEMAILER_EMAIl = YOUR-NODEMAILER-EMAIL-ID
NODEMAILER_PASSWORD = YOUR-NODEMAILER-APP-PASSWORD
